
<br><br><br>
<div class="container ms-2 layout" *ngIf="!noData && !noPatient">
    <div class="section-left">
    <div class="title">
        <h4>{{datoMedicoVer.motivo}}</h4>
    </div>
    <hr class="mt-2 mb-2">
    <div class="box">
        <div class="box-title">{{pacienteBuscado.nombre + '  ' + pacienteBuscado.apellido}}</div>
        <div class="box-body">
            <p class="card-title">Dni: {{' '+pacienteBuscado.dni}}</p>
            <p class="card-text">Altura: {{' '+datoMedicoVer.talla}}</p>
            <p class="card-text">Peso: {{' '+datoMedicoVer.peso}}</p>
            <p class="card-text">Tension arterial: {{' '+datoMedicoVer.tension_arterial }}</p>
            <p class="card-text">IMC: {{' '+datoMedicoVer.imc}}</p>
            <hr class="mt-2 mb-2">
            <div class="descripcion">
                <p >
                    {{datoMedicoVer.diagnostico}}
                </p>
            </div>
        </div>
    </div>

    <div class="accordion" *ngIf="moreThan1">
        <h4 class="mb-2">Ultimos tres controles</h4>
        <ng-container *ngFor="let item of datosMedicosAux">
        <div class="accordion-item">
        <input type="checkbox" id="item-1" />
        <label for="item-1" class="accordion-header">
            <span id="motivoAccordion">{{item.motivo}}</span>
            <span class="arrow">
            <i class='bx bx-caret-right'></i>
            </span>
        </label>
        <div class="accordion-content">
            <p>
            {{item.diagnostico}}
            </p>
        </div>
        </div>
    </ng-container>
    </div>
</div>
    <div class="section-right">
        <input class="form-control" type="text" placeholder="Buscar control medico" [(ngModel)]="searchText" *ngIf="moreThan1">
        <table class="table table-bordered table-hover border-primary mt-5" *ngIf="moreThan1" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">Motivo</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Diagnostico</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of datosMedicos | search: searchText">
                    <td>{{d.motivo}}</td>
                    <td>{{d.pacienteObj.dni}}</td>
                    <td>{{d.pacienteObj.nombre + ' ' + d.pacienteObj.apellido}}</td>
                    <td>{{d.fecha}}</td>
                    <td>{{d.diagnostico}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="seeData(d)">Ver control</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="ms-4 mt-4 caution" *ngIf="!moreThan1">No existen otros registros de este paciente</h4>
        <button class="btnExcel" (click)="excelTable()">Descargar Excel <i class='bx bx-table bx-flip-horizontal'></i></button>
    </div>
    </div>
    <div class="sign" *ngIf="noData">
        <div class="box2">
            <section class="main-cv ">
                <div class="info">
                    <span class="name">Lo Lamento</span>
                    <span class="prof mt-2">No existen registros medicos del paciente seleccionado</span>
                    <div class="divider"></div>
                    <div class="bio">
                        <a class="btnVolver" [routerLink]="'/paciente'">Volver</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="sign" *ngIf="noPatient">
        <div class="box2">
            <section class="main-cv ">
                <div class="info">
                    <span class="name">Lo Lamento</span>
                    <span class="prof mt-2">Usted no realizo ningun control en el puesto</span>
                    <div class="divider"></div>
                    <div class="bio">
                        <a class="btnVolver" [routerLink]="'/home'">Volver</a>
                    </div>
                </div>
            </section>
        </div>
    </div>