<div class="m-5 bg-secondary d-flex justify-content-center align-items-center">

    <!--FORM-->
    <form class="m-5 w-50 formulario-azul text-white p-3" #ticketForm="ngForm">
        <h3 class="text-center bg-primary bg-opacity-75 p-2">Dar de Alta un  Turno</h3>
        
        <div class="mb-3">
            <label for="espectador" class="form-label text-white">Especialista:</label>
            <select class="form-select" id="especialista" name="especialista" [(ngModel)]="turno.especialista" required
                #especialista="ngModel">
                <option *ngFor="let especialista of especialistas" [ngValue]="especialista">{{especialista.apellido}},
                    {{especialista.nombre}} - Profesión: {{especialista.profesion}}</option>
            </select>
            <!-- validacion -->
            <div *ngIf="especialista.invalid && (especialista.dirty || especialista.touched)" class="alert alert-danger">
                <div *ngIf="especialista.errors?.['required']">
                    Debe seleccionar un especialista.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required
                placeholder="Ingrese fecha del turno" [(ngModel)]="turno.fecha" #fecha="ngModel">
            <!-- validacion -->
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-danger">
                <div *ngIf="fecha.errors?.['required']">
                    Debe ingresar fecha del turno a registrar.
                </div>
            </div>
        </div>

        <!--CANTIDAD DE TURNOS-->
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad de Turnos:</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required
              placeholder="Ingrese cantidad de turnos" [(ngModel)]="cantidadTurnos" #cantidad="ngModel">
            <!-- validacion -->
            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
              <div *ngIf="fecha.errors?.['required']">
                Debe ingresar cantidad de turnos a registrar.
              </div>
            </div>
          </div>

        <!--Inicio de primer turno-->
        <div class="mb-3">
            <label for="fecha" class="form-label">Hora de Inicio:</label>
            <input type="time" class="form-control" id="hora" name="hora" required
                placeholder="Ingrese fecha del turno" [(ngModel)]="turno.hora" #hora="ngModel">
            <!-- validacion -->
            <div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">
                <div *ngIf="hora.errors?.['required']">
                    Debe ingresar hora de inicio del primer turno a registrar.
                </div>
            </div>
        </div>

        <!--LAPSO DE TIEMPO POR TURNOS-->
        <div class="mb-3">
            <label for="lapso" class="form-label">Lapso por Turnos:</label>
            <input type="time" class="form-control" id="lapso" name="lapso" required
                placeholder="Ingrese lapso entre turnos" [(ngModel)]="turno.lapso" #lapso="ngModel">
            <!-- validacion -->
            <div *ngIf="lapso.invalid && (lapso.dirty || lapso.touched)" class="alert alert-danger">
                <div *ngIf="lapso.errors?.['required']">
                    Debe ingresar lapso de tiempo por turno a registrar.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Estado: </label>
            <input type="text" class="form-control" id="estado" required name="estado" [(ngModel)]="turno.estado" #precio="ngModel">
        </div>
        

        <button *ngIf="accion=='new'" type="submit" class="btn btn-warning" (click)="guardarTurno()"
            [disabled]="ticketForm.invalid">Registrar Turno</button>
        <button *ngIf="accion=='update'" type="submit" class="btn btn-warning" (click)="modificarTurno()">Modificar
            Turno</button>
        <button type="submit" class="btn btn-danger ms-2" (click)="cancelar()">Cancelar</button>
    </form>
    <!--FORM-->
</div>