<div>
    <div class="text-center" style="background-color: #84b6f4;padding: 30px;">
        LISTADO DE PACIENTES
      </div>
      <br>
      <div style="padding-left: 5%;">
        <button type="button" class="btn btn-success" (click)="agregarPaciente()">AGREGAR PACIENTE</button>  
      </div>

    <div style="padding: 3%;">
        <table class="table table-bordered table-hover border-primary mt-5" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">FECHA DE NACIMIENTO</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pacientes">
                    <td>{{p.nombre}}</td>
                    <td>{{p.apellido}}</td>
                    <td>{{p.fechaNac}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="modificarPaciente(p)">MODIFICAR PACIENTE</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarPaciente(p)">ELIMINAR PACIENTE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
