
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <h1 class=" mb-4 ms-4 mt-4">Email para reestablecer su contraseña</h1>
<div class="mb-3 ms-2" *ngIf="!form">
    <label for="email" class="form-label ms-4">Email </label>
    <input type="email" class="form-control form ms-4" [(ngModel)]="email" id="email" min="0.01" name="email" required #emailInput="ngModel" placeholder="Ingrese un email">
    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger my-1 p-1 ms-4">
        <div *ngIf="emailInput.errors?.['required']">
            El email es requerido
        </div>
        <div *ngIf="emailInput.errors?.['min']">
            La contraseña debe ser mayor a 0
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="alert alert-danger mt-4" id="errorEmail" *ngIf="notFound">No existe un usuario registrado con ese email</div>
            </div>
        </div>
    </div>
    <button type="submit"(click)="resetAsk()" class="ms-4 mt-4">Enviar</button>
</div>
</div>
</div>

<div class="container" id="container"  *ngIf="form">
<div class="mb-3 ms-2">
    <div class="form-container sign-in-container">
        <h1 class=" mb-4 ms-4 mt-4">Ingrese su nueva contraseña</h1>
<div class="mb-3 ms-4">
    <label for="password" class="form-label ms-4">Contraseña</label>
    <input type="password" class="form-control form ms-4" [(ngModel)]="password" id="password" min="0.01" name="password" required #passwordInput="ngModel" placeholder="Ingrese una contraseña">
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger my-1 p-1">
        <div *ngIf="passwordInput.errors?.['required']">
            La contraseña es requerida
        </div>
        <div *ngIf="passwordInput.errors?.['min']">
            La contraseña debe ser mayor a 0
        </div>
    </div>
    <button type="submit"(click)="reset()" class="ms-4 mt-4">Enviar</button>
</div>
</div>
</div>