<p>resetpassword works!</p>
<br><br><br>
<div class="mb-3 ms-2">
    <label for="password" class="form-label">Ingrese una contraseña</label>
    <input type="password" class="form-control form" [(ngModel)]="password" id="password" min="0.01" name="password" required #passwordInput="ngModel" placeholder="Ingrese una contraseña">
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger my-1 p-1">
        <div *ngIf="passwordInput.errors?.['required']">
            La contraseña es requerida
        </div>
        <div *ngIf="passwordInput.errors?.['min']">
            La contraseña debe ser mayor a 0
        </div>
    </div>
    
    <button type="submit"(click)="reset()" class="btn btn-primary ms-2">Enviar</button>
</div>