<br><br><br>
<div class="container">
<input class="form-control ms-2 mt-4 mb-4" type="text" placeholder="Buscar" [(ngModel)]="searchText">
<div class="buttons">
    <a [routerLink]="'/datosMedicos-form/0'" class="btnAgregar mt-4 ms-2">Agregar Control</a>
    <button class="btnExcel ms-2" (click)="excelTable()">Descargar Excel <i class='bx bx-table bx-flip-horizontal' ></i></button>
</div>
<div style="padding: 3%;">
    <table class="table table-bordered table-hover border-primary mt-5" >
        <thead class="table-primary">
            <tr>
                <th scope="col">Motivo</th>
                <th scope="col">Dni del Paciente</th>
                <th scope="col">N y A del Paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Diagnostico</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of datosMedicos | search: searchText">
                <td>{{d.motivo}}</td>
                <td>{{d.pacienteObj.dni}}</td>
                <td>{{d.pacienteObj.nombre + ' ' + d.pacienteObj.apellido}}</td>
                <td>{{d.fecha}}</td>
                <td>{{d.diagnostico}}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="modificarDatoMedico(d)">Modificar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarDatoMedico(d)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>