.formstyle {
    background-color: rgba(91, 195, 200);
    color: #fff;
    width: 60%;
    height: 50%;
}


.formstyle h1{
    text-align: center;
    font-size: 25px;
}
button{
    text-align: center;
}