<div>
    <div class="text-center" style="background-color: #84b6f4;padding: 30px;">
        LISTADO DE PACIENTES
      </div>
      <br>
      <div style="padding-left: 5%;">
        <button type="button" class="btn btn-success" (click)="agregarContacto()">AGREGAR CONTACTO</button>  
      </div>
<br>
<br>
    
    <div style="padding: 3%;">
        <table class="table table-bordered table-hover border-primary mt-5" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">TIPO</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">VALOR</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of contactos">
                    <td>{{p.tipo}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>{{p.valor}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="modificarContacto(p._id)">MODIFICAR PACIENTE</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarContacto(p._id)">ELIMINAR PACIENTE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
