<nav [class.sticky]="stickyHeader">
  <a href="#" class="logo">Centro de Salud <br> "Los Huaicos"</a>
  <ul class="navMenu" #navmenu>
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/calendar">Calendario</a></li>
    <li>
      <a href="#">Paciente ▾</a>
      <ul class="dropdown">
          <li><a [routerLink]="'paciente-form/0'">Formulario para Paciente</a></li>
          <li><a [routerLink]="'paciente'">Listado de Pacientes</a></li>
      </ul>
    </li>
  </ul>
  <div class="nav-icons">
    <a routerLink="/login" class="login" *ngIf="!loginService.userLoggedIn()">LOGIN</a>
    <a (click)="logout()" class="login" *ngIf="loginService.userLoggedIn()">User:{{loginService.userLogged()}}   LogOut</a>
    <button id="menu-icon" class="menu-icon" #menuIcon (click)="toggleMenu()"><i class='bx bx-menu'></i></button>
  </div>
</nav>
