nav{
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  transition: all .6s;
  background:#3da9b8;
  border-radius: 0 0 20px 20px;
}
ul{
  margin-bottom:0;
}
ul li ul.dropdown li {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  display: block;
}

ul li ul.dropdown {
  width: 300px;
  background: #3da9b8;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li:hover ul.dropdown {
  display: block;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
.navMenu{
  display: flex;
}
.navMenu a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all .42s ease;
}
.navMenu a:hover{
  color:  #f2715a;
}
.nav-icons{
  display: flex;
  align-items: center;
}
.nav-icons a{
  margin-right: 20px;
  color: #fff;
  transition: all .42s ease;
}
.nav-icons a i{
  font-size: 25px;
  font-weight: 400;
}
.nav-icons a:hover {
  transform: scale(1.1);
  color: #c6374f;
}
.nav-icons button{
  background: transparent;
  border: none;
  display: none;
}
#menu-icon{
  font-size: 22px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
}
nav.sticky{

  background: #5bc3c8;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
nav.sticky a{
  color:#2B3035;
}

nav.sticky ul li ul.dropdown {
  width: 300px;
  background: #fff;
  position: absolute;
  z-index: 999;
  display: none;
}
nav.sticky ul li:hover ul.dropdown {
  display: block;
}
@media(max-width:890px){
  nav{
    padding: 20px 3%;
    transition: .4s;
  }
}
@media (max-width:750px) {
  .navMenu{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all .42s;
  }
  .navMenu a{
    color: #2B3035;
    display: block;
    margin: 18px 0;
  }
  .navMenu.open{
    right: 0;
  }
  .nav-icons button{
    display: block;
  }
  ul{
    padding-left: 0;
  }
  ul li ul.dropdown li {
    margin-top: -20px;
    height: 30px;
    display: block;
  }

  ul li ul.dropdown {
    width: 300px;
    background: #edfff1;
    position: absolute;
    z-index: 999;
    display: block;
  }
  ul li:hover ul.dropdown {
    display: block;
  }
}
.celular{
  display: none;
}
@media screen and (max-width: 600px) {
  nav{
    display:none;
  }
  .celular{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3da9b8;
    padding: 0 2em;
    border-radius:30px 30px 0 0;
    box-shadow: rgb(0 0 0 / 30%) 0 5px 5px 6px;
    overflow: hidden;
  }
  .celular ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .celular :where(li,a){
    position: relative;
  }
  .celular ul li a{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 1.5em;
    text-align: center;
    width: 80px;
    height: 80px;
    transition: all .3s ease-in-out;
  }
  .celular ul li a span{
    font-size: 15px;
  }
  .celular li::before,.celular li::after{
    content: "";
    position: absolute;
    top: 1px;
    height: 100%;
    width: 30px;
  }
  .celular li.active::before{
    left: -20px;
    border-radius:20px 0 30px 0;
  }
  .celular li.active::after{
    right: -20px;
    border-radius:0 0 0 30px;
  }
  .celular li.active::before,.celular li.active::after{
    background-color: #3da9b8;
  }
  .celular li.active a::before, .celular li.active a::after{
    content: "";
    position: absolute;
    background-color: #f2715a;
    z-index: -1;
  }
  .celular li.active a::before{
    top: 6px;
    left: 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 30px 30px 0 0;
  }
  .celular li.active a::after{
    left: -10px;
    bottom: 0;
    width: 100px;
    height: 40px;
  }
}
.celular a{
  text-decoration: none;
  color: #edfff1;
}
.login{
  text-decoration: none;
  cursor: pointer;
}
.login::after{
  content: "";
  display: block;
  background: #c6374f;
  height: 3px;
  width: 0%;
  transition: all .42s;
}
.login:hover::after{
  width: 100%;
}
