
<section class="container">
      <div class="d-flex justify-content-center align-items-center mb-4 calendar-Box">
        <iframe src="https://embed.styledcalendar.com/#bPpcDptFtq2u3Mm4rk32" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" style="border: 0" width="1200" height="900" frameborder="0" scrolling="no" data-cy="calendar-embed-iframe"></iframe>
        <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
      </div>
</section>