<p>signup works!</p>
<br><br><br>
<form  #signUpForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 ms-2">
        <label for="username" class="form-label">Ingrese el nombre de usuario</label>
        <input type="text" class="form-control form" [(ngModel)]="usuario.username" id="username" min="0.01" name="username" required #usernameInput="ngModel" placeholder="Ingrese su nombre de usuario">
        <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="alert alert-danger my-1 p-1">
            <div *ngIf="usernameInput.errors?.['required']">
                El nombre de usuario es requerida
            </div>
            <div *ngIf="usernameInput.errors?.['min']">
                El nombre de usuario debe ser mayor a 0
            </div>
        </div>
    </div>
    <div class="mb-3 ms-2">
        <label for="password" class="form-label">Ingrese una contraseña</label>
        <input type="password" class="form-control form" [(ngModel)]="usuario.password" id="password" min="0.01" name="password" required #passwordInput="ngModel" placeholder="Ingrese una contraseña">
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger my-1 p-1">
            <div *ngIf="passwordInput.errors?.['required']">
                La contraseña es requerida
            </div>
            <div *ngIf="passwordInput.errors?.['min']">
                La contraseña debe ser mayor a 0
            </div>
        </div>
    </div>
    <div class="mb-3 ms-2">
        <label for="email" class="form-label">Ingrese un correo electronico</label>
        <input type="email" class="form-control form" [(ngModel)]="usuario.email" id="email" min="0.01" name="email" required #emailInput="ngModel" placeholder="Ingrese su correo electronico">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger my-1 p-1">
            <div *ngIf="emailInput.errors?.['required']">
                La contraseña es requerida
            </div>
            <div *ngIf="emailInput.errors?.['min']">
                La contraseña debe ser mayor a 0
            </div>
        </div>
    </div>
    <div *ngIf="!modifica" class="mb-3 ms-2">
        <label for="rol" class="form-label">Elija un rol</label>
                <select  name="rol" id=""  aria-label="select rol" [(ngModel)]="usuario.rol._id"   class="form-select select-scrollable" style="max-height: 200px;" required>
                        <option value="" disabled selected >Seleccione un rol</option>
                        <option *ngFor="let item of roles" [value]="item._id" >{{item.descripcion}}</option>
                </select>
            <div *ngIf="signUpForm.controls['rol'].invalid && (signUpForm.controls['rol'].dirty ||signUpForm.controls['rol'].touched)" class="alert alert-danger my-1 p-1">
                <div *ngIf="signUpForm.controls['rol'].errors?.['required']">
                    El rol es requerido
                </div>
            </div>
    </div>
    <button type="submit" *ngIf="!modifica" [disabled]="signUpForm.invalid" (click)="createUser()" class="btn btn-primary ms-2">Enviar</button>
    <button type="submit" *ngIf="modifica" [disabled]="signUpForm.invalid" class="btn btn-primary ms-2">Modificar</button>
</form>