.image img{
  width: 100%;
}
.image{
  margin-top: 50px;
  width: 100%;
}
.telefonos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}
.telefonos .iconos{
  background-color: #F4F2F3;
  color: #3da9b8;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
}
.telefonos ul{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
}
p{
  margin-bottom: 0;
}
.telefonos li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

ul{
  padding-left: 0;
}
@media screen and (max-width: 600px) {
  .image{
    margin-top: 0;
  }
  .image img{
    width: 100%;
    height: 200px;
    border-radius: 0 0 20px 20px;
  }
}
