<section class="image">
  <img src="../assets/img/imagen.png" alt="banner">
</section>
<section class="telefonos">
  <ul>
    <li>
      <div class="iconos">
        <i class='bx bxs-ambulance'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-clinic'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-plus-medical'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-donate-blood'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bxs-heart-circle'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-pulse'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
  </ul>
</section>
<div class="container">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/img/01.jpg" alt="">
        <div class="card-description">
          <div class="card-title">
            <h4>Descripción</h4>
          </div>
          <div class="card-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim possimus dolorum non,
              modi
              sunt ips.</p>
          </div>
          <div class="card-link">
            <a href="#">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
