<section class="image">
  <img src="../assets/img/imagen.png" alt="banner">
</section>
<section class="telefonos">
  <ul>
    <li>
      <div class="iconos">
        <i class='bx bxs-ambulance'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-clinic'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-plus-medical'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-donate-blood'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bxs-heart-circle'></i>
      </div>
      <p>0800-4012-230</p>
    </li>
    <li>
      <div class="iconos">
        <i class='bx bx-pulse' ></i>
      </div>
      <p>0800-4012-230</p>
    </li>
  </ul>
</section>
