<div class="bg-secondary-subtle p-3 mt-5">
    <div class="m-5 p-3 text-center fw-bold h1 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        TURNOS DISPONIBLES
    </div>

    <table class="table table-bordered table-hover border-primary mt-5">
        <thead class="table-dark">
            <tr>
                <th scope="col">IDTURNO</th>
                <th scope="col">ESPECIALISTA</th>
                <th scope="col">FECHA</th>
                <th scope="col">HORA</th>
                <th scope="col">ESTADO DEL TURNO</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of turnos">
                <th scope="row">{{t._id}}</th>
                <td>{{t.especialista.apellido}},{{t.especialista.nombre}} - {{t.especialista.profesion}}</td>
                <td>{{t.fecha | date: 'dd/MM/yyyy'}}</td>
                <td>{{t.hora}}</td>
                <td>{{t.estado}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="reservarTurno(t)">RESERVAR TURNO</button>
                    <!-- <button type="button" class="btn btn-warning" (click)="modificarTurno(t)">MODIFICAR TURNO</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarTurno(t)">ELIMINAR TURNO</button> -->
                </td>
            </tr>
        </tbody>
    </table>

</div>